<!DOCTYPE html>
<html>
  <head>
    <title>URL Shortener</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container">
      <img src="<%= qrCode %>" alt="QR Code" />
      <br />
      <a href="/short" role="button" class="btn btn-primary">Back</a>
    </div>
  </body>
</html>
